:root {
    --primary-green: #495E57;
    --primary-yellow: #F4CE14;
    --secondary-orange: #EE9972;
    --secondary-salmon: #FBDDEE;
    --highlight-light: #EDEFEE;
    --highlight-dark: #333333;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Karla;
    line-height: 1.5;
    max-width: 100%;
}

.menubar {
  list-style : none;
  display: grid;
  grid-template-columns: repeat(6,1fr);
}

.header > img ,.menubar * {
  margin:1rem;
  align-items: center;
  text-align: center;
}

.header {
  display : grid;
  grid-template-columns: 4fr 6fr;
  color: var(--primary-green);
  font-weight: bold;
  font-size: large;
}

.menubar a {
  color: var(--primary-green);
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.cta_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--primary-green);
  color: var(--highlight-light);
  justify-items: center;
}

.cta_content {
  display: grid;
  margin : 0 6rem;
  padding : 4rem 0;
  text-align: left;
  align-items: center;
}

.cta_content  > h4 {
  font-size: 3rem;
  color: var(--highlight-light);
  margin-top: 0px;
}
.cta_content > h1 {
  color: var(--primary-yellow);
  font-size: 4rem;
  margin-bottom: 0px;
}

.cta_content > p {
  font-size: larger;
}

.cta_block > div > img {
  margin : 2rem;
  width : 600px;
  height : 400px;
  border-radius: 2rem;
}

.cta_content > button {
  margin : 1rem auto;
  padding : 0.5rem;
  display: block;
  font-size: large;
  background-color: var(--primary-yellow);
  border: none;
  border-radius: 10px;
}
 .cta_content > button:hover {
  margin : 1rem auto;
  padding : 0.5rem;
  display: block;
  font-size: large;
  background-color: var(--secondary-orange);
  border: none;
  border-radius: 10px;
 }

.Customers {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin :auto;
}


.special_header {
  font-size:x-large;
  color: var(--primary-green);
  margin : 1rem 0;
}
.specials {
  margin:2rem;
  
}

.dishes {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin : 0 1rem;
  border-radius: 2rem;
}


.card >img {
  width: 100%;
  height : 16rem;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}

.card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin : 0 3rem;
  border-radius: 1.5rem;
  font-size: large;
  box-shadow:0 4px 10px rgba(0, 0, 0, 0.15) ;
}

.card > div  {
  margin-bottom: 0;
  margin: 1rem;
}

.name_price {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.name_price {
  font-size: larger;
  color: var(--highlight-dark);
}
.name_price > h5 {
  text-align: right;
  font-size: large;
  color: var(--primary-yellow);
}

.customersays > h1 {
  text-align: center;
  font-size:50px;
  color: var(--primary-green);
  margin : 1rem 0;
}

.customersays {
  margin : 1rem;
}

.Customers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  /* 4 equal-width columns */
  gap: 4rem;   /* space between the cards */
  padding: 20px;
  justify-items: center;
  margin-bottom: 4rem;
}

.Customercard {
  text-align: center;
  background-color: lightgrey;
  border-radius: 1.5rem;
  height: 250px;
  width: 250px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
.Customercard * {
  padding: 10px;
}
.Customercard > img {
  border-radius: 4rem;
}

.Customercard > :first-child {
  color: var(--primary-yellow);
  -webkit-text-stroke: 0.5px black; 
  font-size: x-large;    
}

.Customercard > h4 {
  font-size: large;
  font-weight: bold;
}

.about-content {
  display : grid;
  grid-template-columns: 6fr 4fr;
  max-width: 100%;
  padding : 0 1rem 1rem 1rem;
  margin-top : 4rem;
  background-color: #ee9972;
}
.about-text {
  display: grid;
  grid-template-rows: auto;
  padding : 4rem;
  font-size: larger;
  align-items: center;
  color: var(--highlight-light);

}

 .about-content  h4 {
  font-size: xx-large;
  color: var(--highlight-dark);
}

.about-text h1 {
  font-size: 3rem;
  color: var(--highlight-dark);
}
.about-images {
  display: block;
  position: relative;
  width: fit-content;
  justify-content: center;
}
.about-images * {
  display : inline;
  width: 260px;
  height: 340px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  
}

.about-img1 {
  position: absolute;
  top : 20px;
  left: 0;
  z-index: 2;
}

.about-img2 {
  margin-left: 200px;  
  margin-top: 70px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background-color: var(--primary-green);
  color: var(--highlight-light);
  padding : 4rem;
  text-align: center;

}

.footer > img {
  border-radius: 40px;
  border:  3px solid var(--primary-yellow);
  width: 60%;
  height: 25%;
  align-self: center;
}

.doormat-nav > ul, .footer-contact > ul , .media-links > ul {
  list-style:none;
  padding: 1rem;
}
footer li {
    padding : 5px;
  font-size: large;
}

footer div {
    border-left: 0.5px solid var(--highlight-light);
}

footer h1 {
  color: var(--primary-yellow);
}


.bookingform {
  display: grid;
  place-items: center;
  padding: 4rem;
  justify-content: center;
}

.form {
  background-color: var(--primary-green);
  border-radius: 30px;
  font-size: large;
  border: 2.5px solid var(--primary-yellow);
  color : var(--highlight-light);
  padding: 40px;
}

.form input , .form select , .form button {
  height : 40px;
  border-radius: 15px;
  width : 400px;
  padding : 20px;
  border: 2px solid var(--primary-yellow);
}

.form button {
  margin : 1rem auto;
  padding : 0.5rem;
  display: block;
  font-size: large;
  background-color: var(--primary-yellow);
  border: none;
  border-radius: 10px;
  width:200px;
}

.form button:hover {
  margin : 1rem auto;
  padding : 0.5rem;
  display: block;
  font-size: large;
  background-color: var(--secondary-orange);
  border: none;
  border-radius: 10px;
  width:200px;
}




